@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

$primary: #2e4f3a;
$secondary: #b49d74;
$secondaryOpaccity: #afc8a3c2;
$text: #e7dcc8;
$detail: #2b2b2b;
$hedaerBg: #f5f5f531;

$bp-mobile: 600px;

$bp-tablet: 1024px;

$bp-desktop-lg: 1440px;

@keyframes riseUp {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
.page-animate {
  animation: riseUp 3s cubic-bezier(0.22, 1, 0.36, 1) 0.05s forwards;
}

html,
body {
  margin: 0;

  background: #4a76d4;
  background: linear-gradient(
    180deg,
    rgba(74, 118, 212, 1) 0%,
    rgba(212, 168, 74, 1) 100%
  );
  min-height: 100vh;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Ubuntu";
  color: $text;
}

p {
  font-size: 1.25rem;
}
h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: $text;
}

header {
  font-family: "Lora";
  background-color: #00000000;
  height: 4rem;
  border-bottom: solid 2px #2d5bbe;
  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .name {
    font-size: 2rem;
  }
  .navigation {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
  }
}

footer {
  position: relative;
  margin-top: 2%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: #00000010;
  div {
    max-width: 380px;
  }
  .links {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .list {
    img {
      width: 25px;
      margin-right: 15px;
    }
    p {
      max-width: fit-content;
    }
    div {
      display: flex;
      margin-bottom: 0.05rem;
    }
  }
  .copyright {
    position: absolute;
    bottom: 10px;
    a {
      color: rgb(110, 110, 110);
    }
  }
}

.main-page-content {
  background-image: url("../assets/main-page-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .main-banner {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
      margin: 0;
      font-size: 4rem;
      padding: 4px;
      background-color: #000000bf;
    }
    p {
      padding: 0 32rem 0 32rem;

      font-size: 1.25rem;
    }
  }
}

.hidden {
  display: none;
}
.promotions {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #4f2e43;
}

.short-desc-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
  .two {
    flex-direction: row-reverse;
  }
  .bubble {
    width: 80%;
    display: flex;
    column-gap: 5rem;
    align-items: center;
    font-size: 1.25rem;
    justify-content: space-between;
    .text {
      h2 {
        text-align: center;
      }
    }
    img {
      width: 600px;
      height: 400px;
      border-radius: 20px;
    }
  }
}

.contacts-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  div {
    h2 {
      font-size: 2.25rem;
    }
    max-width: 600px;
  }
  .information {
    ul {
      list-style: none;
      padding: 0;
      li {
        div {
          display: flex;
          img {
            width: 25px;
            margin-right: 15px;
          }
        }
      }
    }
  }
  .form {
    form {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      p {
        margin: 0px;
      }
      input {
        margin: 0;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $secondary;
        margin-bottom: 1.25rem;
      }
      textarea {
        margin: 0;
        padding: 0.5rem;
        border-radius: 5px;
        height: 6rem;
        border: 1px solid $secondary;
      }
      button {
        padding: 1rem;

        border-radius: 5px;
        border: 1px solid $secondary;
        color: $detail;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
}

.rooms-page-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .rooms-page-top-banner {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }
  .rooms-grid {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 7rem;
    row-gap: 5rem;
    .room-bubble {
      padding: 15px;
      border-radius: 22.5px;

      background-color: #f0f0f02c;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f0f0f04c;
      }
      img {
        max-width: 600px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .short-desc {
        display: flex;
        justify-content: space-between;
        .occupancy {
          display: flex;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}

.restaurant {
  .restaurant-container {
    text-align: center;
    margin-bottom: 2%;
    p {
      max-width: 60ch;
      margin: auto;
    }
  }
  .restaurant-info {
    display: flex;
    flex-direction: column;

    align-items: center;
    .menu {
      font-size: 2.5rem;
    }
    .restaurant-interior {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 10rem;
      column-gap: 3rem;
      row-gap: 3rem;
      max-width: 900px;
      .swiper {
        img {
          width: 100%;
          height: 600px;
          object-fit: cover;
        }
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .swiper-pagination-bullet-active {
          background-color: $secondary !important;
        }
      }
    }
    .restaurant-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      flex: 1 0 40%;

      row-gap: 3rem;
      img {
        max-width: 500px;
      }
    }
  }
}

.room-detail-content {
  .room-info {
    h1 {
      text-align: center;
    }

    .room-image {
      max-width: 900px;
      width: 100%;
      margin: 0 auto;
      position: relative;
      .swiper {
        img {
          height: 600px;
          width: 100%;
          object-fit: cover;
        }
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .swiper-pagination-bullet-active {
          background-color: $secondary !important;
        }
      }
    }
    .holder {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #f0f0f02c;
      margin-left: 30rem;
      margin-right: 30rem;
      padding-bottom: 2rem;
      .heading {
        font-weight: 800;
        background-color: $primary;
        min-width: 0 !important;
        padding: 8px 16px;
        border-radius: 16px;
        width: fit-content;
        font-size: 1.5rem;
      }
      .bold-label {
        font-weight: 600;
      }
      .room-details {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        width: fit-content;
        row-gap: 2rem;

        img {
          width: 25px;
          margin-right: 10px;
        }
        p {
          margin: 0;
          min-width: 120px;
        }
        div {
          display: flex;
        }
      }
    }

    .booking {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        margin-left: 1rem;
        font-size: 1.25rem;
        background-color: #003b95;
        padding: 5px 35px;
        border-radius: 10px;
        transition: all 0.3s ease;
        &:hover {
          background-color: #0056d2;
        }
      }
    }
  }
}
.not-found {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .main-page-content {
    .main-banner {
      p {
        padding: 0 5rem 0 5rem;
      }
    }
  }
  .room-detail-content {
    .room-info {
      .room-image {
        .swiper {
          img {
            max-width: 85%;
            height: 600px;
          }
        }
      }
      .holder {
        margin-left: 18.75%;
        margin-right: 18.75%;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }

  footer {
    div {
      max-width: 200px;
    }
  }

  .main-page-content {
    .main-banner {
      p {
        padding: 0 4rem 0 4rem;
      }
    }
  }
  .short-desc-content {
    .bubble {
      flex-direction: column;

      column-gap: 0.75rem;
      &.two {
        row-gap: 10rem;
      }
    }
  }

  .contacts-container {
    flex-direction: column;
    align-items: center;
    .information {
      h2 {
        text-align: center;
      }
    }
  }
  .room-detail-content {
    .room-info {
      .room-image {
        .swiper {
          img {
            max-width: 88%;
            height: 400px;
          }
        }
      }
      .holder {
        margin-left: 6%;
        margin-right: 6%;
      }
    }
  }
  .restaurant {
    .restaurant-info {
      .restaurant-interior {
        max-width: 600px;
      }
      .restaurant-images {
        img {
          max-width: 90%;
          height: 300px;
        }
      }
    }
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 1rem;
  }
  header {
    .name {
      font-size: 1.5rem;
    }
    .navigation {
      font-size: 1rem;
      gap: 1.5rem;
    }
  }

  .main-page-content {
    background-size: cover;
    .main-banner {
      p {
        padding: 0;
      }
    }
  }
  .short-desc-content {
    row-gap: 5rem;
    .bubble {
      flex-direction: column;

      .image {
        img {
          max-width: 420px;
          max-height: 350px;
        }
      }
    }
  }
  footer {
    flex-direction: column;
    padding-left: 4rem;
  }

  .rooms-page-content {
    .rooms-page-top-banner {
      max-width: 500px;
    }
    .rooms-grid {
      .room-bubble {
        img {
          max-width: 100%;
        }
      }
    }
  }

  .contacts-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    div {
      max-width: 500px;
    }
    .information {
      h2 {
        text-align: center;
      }
      img {
        max-width: 500px;
      }
    }
  }
  .room-detail-content {
    .room-info {
      .room-image {
        .swiper {
          img {
            max-width: 88%;
            height: 330px;
          }
        }
      }
    }
  }
  .restaurant {
    .restaurant-info {
      .restaurant-interior {
        max-width: 300px;
      }
      .restaurant-images {
        margin: 0;
        row-gap: 2rem;
        img {
          max-width: 80%;
          height: 260px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  header {
    padding: 0 10px;
    .name {
      font-size: 1.25rem;
    }
    .navigation {
      font-size: 0.875rem;
      row-gap: 1rem;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
  footer {
    padding-left: 1.7rem;
  }
  .main-page-content {
    .main-banner {
      h1 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .short-desc-content {
    .bubble {
      .image {
        img {
          max-width: 330px;
        }
      }
    }
  }

  .rooms-page-content {
    .rooms-grid {
      .room-bubble {
        img {
          max-width: 300px;
        }
      }
    }
  }

  .restaurant {
    .restaurant-container {
      p {
        margin: 0;
      }
    }
    .restaurant-info {
      .restaurant-interior {
        img {
          max-width: 300px;
        }
      }
    }
  }

  .room-detail-content {
    .room-info {
      .room-image {
        .swiper {
          img {
            max-width: 88%;
            height: 200px;
          }
        }
      }
    }
  }
  .contacts-container {
    .information {
      display: flex;
      flex-direction: column;
      align-items: center;
      .about-us {
        text-align: center;
      }
      img {
        max-width: 320px;
      }
    }
  }
}
