@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$primary: #2e4f3a;
$secondary: #afc8a3;
$secondaryOpaccity: #afc8a3c2;
$text: #e7dcc8;
$detail: #2b2b2b;
$hedaerBg: #f5f5f531;

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, $primary, $secondary);
  min-height: 100vh;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Ubuntu";
  color: $text;
}

p {
  font-size: 1.25rem;
}
h1 {
  font-size: 4rem;
}

a {
  text-decoration: none;
  color: $text;
}

header {
  background-color: #00000000;
  height: 4rem;

  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .name {
    font-size: 1.75rem;
  }
  .navigation {
    display: flex;
    gap: 3rem;
    font-size: 1.25rem;
  }
}

footer {
  margin-top: 2%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: #00000010;
  div {
    max-width: 380px;
  }
  .links {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .list {
    img {
      width: 25px;
      margin-right: 15px;
    }
    p {
      max-width: fit-content;
    }
    div {
      display: flex;
      margin-bottom: 0.05rem;
    }
  }
}

.main-page-content {
  background-image: url("../assets/main-page-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .main-banner {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000085;
    h1 {
      margin: 0;
      font-size: 4rem;
    }
    p {
      padding: 0 32rem 0 32rem;

      font-size: 1.25rem;
    }
  }
}

.short-desc-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
  .two {
    flex-direction: row-reverse;
  }
  .bubble {
    width: 80%;
    display: flex;
    column-gap: 5rem;
    align-items: center;
    font-size: 1.25rem;
    .text {
      h2 {
        text-align: center;
      }
    }
    img {
      width: 600px;
      height: 400px;
      border-radius: 20px;
    }
  }
}

.contacts-container {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  div {
    h2 {
      font-size: 2.25rem;
    }
    max-width: 600px;
  }
  .information {
    ul {
      list-style: none;
      padding: 0;
      li {
        div {
          display: flex;
          img {
            width: 25px;
            margin-right: 15px;
          }
        }
      }
    }
  }
  .form {
    form {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      p {
        margin: 0px;
      }
      input {
        margin: 0;
        padding: 0.5rem;
        border-radius: 5px;
        border: 1px solid $secondary;
        margin-bottom: 1.25rem;
      }
      textarea {
        margin: 0;
        padding: 0.5rem;
        border-radius: 5px;
        height: 6rem;
        border: 1px solid $secondary;
      }
      button {
        padding: 1rem;

        border-radius: 5px;
        border: 1px solid $secondary;
        color: $detail;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          background-color: $secondary;
        }
      }
    }
  }
}

.rooms-page-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .rooms-page-top-banner {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }
  .rooms-grid {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // width: 60%;
    column-gap: 7rem;
    row-gap: 5rem;
    .room-bubble {
      padding: 15px;
      border-radius: 22.5px;
      // border-radius: 15px;
      background-color: #f0f0f02c;
      transition: all 0.3s ease;
      &:hover {
        background-color: #f0f0f04c;
      }
      img {
        max-width: 600px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
      .short-desc {
        display: flex;
        justify-content: space-between;
        .occupancy {
          display: flex;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}
