@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$primary: #2e4f3a;
$secondary: #afc8a3;
$secondaryOpaccity: #afc8a3c2;
$text: #e7dcc8;
$detail: #2b2b2b;
$hedaerBg: #f5f5f531;

html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, $primary, $secondary);
  min-height: 100vh;
}

div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Ubuntu";
  color: $text;
}

a {
  text-decoration: none;
  color: $text;
}

header {
  background-color: $primary;
  height: 4rem;

  position: sticky;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .name {
    font-size: 1.75rem;
  }
  .navigation {
    display: flex;
    gap: 3rem;
    font-size: 1.25rem;
  }
}

.main-page-content {
  margin-top: 5%;
  background-image: url("../assets/main-page-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .main-banner {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000085;
    h1 {
      margin: 0;
      font-size: 4rem;
    }
    p {
      padding: 0 32rem 0 32rem;

      font-size: 1.25rem;
    }
  }
}

.short-desc-content {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10rem;
  .two {
    flex-direction: row-reverse;
  }
  .bubble {
    width: 80%;
    display: flex;
    column-gap: 5rem;
    align-items: center;
    img {
      width: 500px;
      height: 400px;
      border-radius: 20px;
    }
  }
}
